* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.header{
    background: radial-gradient(#fff, #ffd6d6);
}
.header .row{
    margin-top: 35px;
}
a {
    text-decoration: none;
    color: #555;
}

p {
    color: #555;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 25px;
}

nav {
    flex: 1;
    text-align: right;
}
nav ul {
    display: inline-block;
    list-style: none;
}

nav ul li {
    display: inline-block;
    padding-left: 25px;
}

.container {
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}


.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-2 {
    flex-basis: 50%;
    min-width: 300px;
}
.col-2 img{
    max-width: 100%;
    padding: 50px 0px;
}
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0px;
}
.btn{
    display: inline-block;
    background-color: #ff523f;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0px;
    border-radius: 30px;
    transition: background 0.5s;
}
.btn:hover{
    background: rgb(180, 18, 18);
}




#cart-img{
    padding-left: 20px;
}




/* -------------------Catogory - Page------------------- */

.catogory{
    margin: 70px 0px;
}
.col-3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}
.col-3 img{
    width: 100%;
}
.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}



/* -----------------Featured Products--------------- */

.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;

}
.col-4 img{
    width: 100%;
}
.title{
    text-align: center;
    margin: 0px auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
}
.title::after{
    content: "";
    background: #ff523f;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translateX(-50%);
}
h4{
    color: #555;
    font-weight: normal;
}
.col-4 p{
    font-size: 14px;
}
.rating .fa-solid{
    color: #ff532b;
}
.col-4:hover{
    transform: translateY(-5px);
}


/* -----------------Offers-------------------- */
.offer{
    background: radial-gradient(#fff, #ffd6d6);
    margin-top: 80px 0px;
    padding: 30px 0px;
}
.col-2 .offer-img{
    padding: 50px;
}
small{
    color: #555;
}


/* ----------------Testomonial----------------- */
.testimonial{
    padding-top: 100px;
}
.testimonial .col-3{
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: transform 0.5s;
}
.testimonial .col-3 img{
    width: 50%;
    margin-top: 20px;
    border-radius: 50%;
}
.testimonial .col-3:hover{
    transform: translateY(-10px);
}
.fa-quote-left{
    font-size: 24px;
    color: #ff523f;
}
.col-3 p{
    font-size: 12px;
    margin: 12px 0px;
    color: #777;
}
.testimonial .col-3 h3{
    font-weight: 600px;
    color: #555;
    padding-top: 11px;
    font-size: 16px;
}


/* -----------------Brands------------------- */
.brands{
    margin: 100px auto;
}
.col-5{
    width: 160px;
}
.col-5 img{
    width: 100%;
    filter: grayscale(100%);
}
.col-5 img:hover{
    filter: grayscale(0);
}


/* --------------------Footer-------------------------- */

.footer{
    background: black;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
}
.footer p{
    color: #8a8a8a;
}
.footer h3{
    color: #fff;
    margin-bottom: 20px;
}
.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
    min-width: 250px;
    margin-bottom: 20px;
}
.footer-col-1{
    flex-basis: 30%;
}
.footer-col-2{
    flex: 1;
    text-align: center;
}
.footer-col-2 img{
    width: 180px;
    margin-bottom: 20px;
}
.footer-col-3, .footer-col-4{
    flex-basis: 12%;
    text-align: center;
}
.footer-col-3 ul{
    list-style: none;
}
.footer-col-4 ul{
    list-style: none;
}
.logo-app{
    margin-top: 20px;
}
.logo-app img{
    width: 140px;
}
.copywright{
    border: none;
    color: #b5b5b5;
    height: 1px;
    margin: 20px 0px;
    text-align: center;
}


/* -------------------Menu------------------------ */
/* ---------------Media Quary---------------------- */
.menu-icon{
    width: 28px;
    margin-left: 25px;
    display: none;
}
@media only screen and (max-width: 800px){
    nav ul{
        position: absolute;
        top: 70px;
        left: 0;
        background: #333;
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s;
    }
    nav ul li{
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    nav ul li a{
        color: #fff;
    }
    .menu-icon{
        display: block;
        cursor: pointer;
    }
}


/* ---------------------All Product---------------- */
.row-2{
    justify-content: space-between;
    margin: 100px auto 50px;
}
select{
    border: 1px solid #ff523f;
    padding: 5px;
}
select:focus{
    outline: none;
}
.page-btn{
    margin: 0 auto 80px;
}
.page-btn span{
    display: inline-block;
    border: 1px solid #ff532b;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    transition: 0.5s;
}
.page-btn span:hover{
    background: #ff523f;
    color: #fff;
}





@media only screen and (max-width: 600px){
    .row{
        text-align: center;
    }
    .col-2, .col-3, .col-4{
        flex-basis: 100%;
    }
}
